################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultiMediaCenter/v18
/.vs/MultiMediaCenter/FileContentIndex
/MultiMediaCenter/obj/Debug
